@import "partials/base";
@import "partials/config";

.app {
  margin: 15px;

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: $primary-color;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .enter-key-logo {
      fill: $primary-color;

      &:hover {
        fill: $secondary-color;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 30px;

      li {
        font-size: 1.2rem;
        a {
          color: $primary-color;
          text-decoration: none;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
