@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$bg-color: #2D1E2F;
// $primary-color: #fff;
$primary-color: #D7C9AA;
// $secondary-color: #FFD5FF;
$secondary-color: #9F86C0;
$font-nunito: "Nunito", sans-serif;